@use '../../scss/variables' as *;

.header {
	&__wrapper {
		margin-top: 1rem;
		position: relative;
		width: 100%;
		height: 3rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: clamp(1rem, 0.8333rem + 0.8333vw, 1.5rem);
		z-index: 9;
	}
	&__logo {
		color: $white;
		cursor: pointer;
	}
}
