@use '../../scss/variables' as *;

.password {
	padding-top: 5rem;
	&__wrapper {
		margin-top: 3rem;
		position: relative;
		width: 500px;
		padding: 2.5rem 2rem;
		border: 0.063rem solid $main-black;
		font-family: 'Inter', sans-serif;
		border-radius: 1.5rem;
		background-color: $second-black;
		z-index: 9;
	}
	&__head {
		position: relative;
		input {
			width: 100%;
			padding: 1rem;
			font-family: 'Inter', sans-serif;
			font-size: clamp(0.75rem, 0.6667rem + 0.4167vw, 1rem);
			border: none;
			border-radius: 0.5rem;
			background-color: $main-black;
			color: $white;
		}
		&-icon {
			position: absolute;
			top: 10px;
			right: 16px;
			color: $grey;
			transform: translateY(10%);
			transition: 0.4s ease-in;
			cursor: pointer;
		}
	}
	&__indicator {
		position: relative;
		margin-top: 1rem;
		height: 5px;
		border-radius: 1rem;
		&::before {
			content: '';
			position: absolute;
			height: 100%;
			width: 50%;
			transition: width 0.4s ease-in-out;
		}
		&_low {
			&::before {
				width: 20%;
				border-radius: 1rem;
				background-color: $red-low;
			}
		}
		&_medium {
			&::before {
				width: 50%;
				border-radius: 1rem;
				background-color: $yellow-medium;
			}
		}
		&_high {
			&::before {
				width: 100%;
				border-radius: 1rem;
				background-color: $menthol-high;
			}
		}
	}
	&__length {
		margin: 1rem 0;
		input {
			width: 100%;
			height: 5px;
			appearance: none;
			border-radius: 0.5rem;
			background-color: $grey;
		}
	}
	&__info {
		display: flex;
		justify-content: space-between;
	}
	&__range {
		display: flex;
		align-items: center;
		width: 100%;
		height: 50px;
		margin-top: 0.625rem;
		padding: 0 1rem;
		border-radius: 0.5rem;
		background-color: $main-black;
	}
	&__option {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 50px;
		margin-top: 1rem;
		padding: 0 1rem;
		border-radius: 0.5rem;
		background-color: $main-black;
		label {
			color: $grey;
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		&__wrapper {
			width: 100%;
			padding: 1.6rem 1.25rem;
		}
		&__head {
			&-icon {
				top: 12px;
				svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}
}
