$body-bg: #0c0d0f;
$main-black: #191b1f;
$second-black: #121417;
$white: #f1f1f1;
$grey: #6d717a;
$red-low: #ef0538;
$yellow-medium: #cee83c;
$menthol-high: #69ffb7;
$purple-animation: #c0c4ff;
$peach-animation: #efa771;
